.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 20px;
}

.imageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.image {
    align-self: center;
}
